
{%link file="en/public/header.html"%}
    
    <div class="news">
	  <div class="news_1">
        {%link file="en/public/location.html"%}
      </div>
      <div class="news_2">
        <div class="news_2_left">
          <ul>
		  {%get name=typelist class=tid:$type.tid,utid:$type.topid%}
					{%forlist from=$array key=i%}
						<li><img src="{%$rootpath%}images/s_main_26.gif" /><a title="{%$array[i].typename%}" href="{%$array[i].link%}">{%$array[i].typename%}</a></li>
					{%/forlist%}
		 {%/get%}
          </ul>
        </div>
        <div class="news_2_right">
          <ul>
			{%forlist from=$array key=i%}
				<li><a title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].ctitle%}</a><span>【{%$array[i].addtime|timeformat(2)%}】</span></li>
			{%/forlist%}
          </ul>
          <div class="fanye">{%$pagebotton%}</div>
        </div>
      </div>
    </div>
    <div class="yuanjiao"></div>
  </div>
  <div class="c_r"></div>
  </div>
</div>
{%link file="en/public/footer.html"%}
