<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<link href="{%$rootpath%}style/style.css" rel="stylesheet" type="text/css" />
<script src="{%$rootpath%}Scripts/swfobject_modified.js" type="text/javascript"></script>
</head>

<body>
<div class="top">
  <div class="top_k">
    <div class="top_left"><img src="{%$rootpath%}images/s_main_3.gif" /></div>
    <div class="top_right">
       <span>语言丨language</span>
	   <span>
		<select name="select" onChange="javascript:location.href=this.value;">
			{%get name=lng%}
				{%forlist from=$array key=i%}
					<option {%if $i==1%}selected{%/if%} value="{%$array[i].link%}" <a href="{%$array[i].link%}">{%$array[i].lngtitle%}</a></option>
				{%/forlist%}
			{%/get%}
		</select>
	   </span>
    </div>
  </div>
  <div class="dh">
    <div class="dh_l"></div>
    <div class="dh_c">
				{%get name=menu class=path:$path,current:$current%}
						{%forlist from=$array key=i%}
						<a title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].title%}</a>
						{%/forlist%}
				{%/get%}
    </div>
    <div class="dh_r"></div>
  </div>
</div>
<div class="center">
  <div class="c_k">
  <div class="c_l"></div>
  <div class="c_c"><div class="banner">
    <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="976" height="327">
      <param name="movie" value="{%$rootpath%}Scripts/banner.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="8.0.35.0" />
      <param name="expressinstall" value="{%$rootpath%}Scripts/expressInstall.swf" />
      <object type="application/x-shockwave-flash" data="{%$rootpath%}Scripts/banner.swf" width="976" height="327">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="8.0.35.0" />
        <param name="expressinstall" value="{%$rootpath%}Scripts/expressInstall.swf" />
        <div>
          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object>
  </div>

  <div class="tiao">
    <div class="tiao_1">Products</div>
    <div class="tiao_2">News</div>
  </div>
  <div class="cpxw">
     <div class="cp_left">
         <div class="cp_l_1">
           <div class="cpyy_1">
           {%get name=typelist class=mid:3,tid:29,att:1,level:2%}
				{%forlist from=$array key=i%}
					<a onmouseover="hover({%$i%},{%count($array)%});"  href="{%$array[i].link%}">{%$array[i].typename%}</a>
				{%/forlist%}
           </div>
				{%forlist from=$array key=i%}
					<div 
                    {%if $i==0%} 
                    style="display:block;" 
                    {%else%} 
                    style="display:none;" 
                    {%/if%} 
                    class="cpyy_2" id="case{%$i%}">
                    {%$array[i].content|cutstr(90)%}</div>
				{%/forlist%}	
		   {%/get%}
           
<!---Tab-->
<script>
function hover(id, num)
{
	for(var i=0;i<num;i++)
	{
		document.getElementById("case" + i).style.display = "none";	
		if(id == i)
		{
			document.getElementById("case" + i).style.display = "block";
		}
	}
}
</script>
           
         </div>
         
         <div class="cp_l_2"><a href="{%find:type class=29 out=link%}">Read more</a></div>    
     </div>
     <div class="xw_right">
         <div class="xw_r_1">
           <ul>
           {%get name=list class=mid:1,max:2%}
				{%forlist from=$array key=i%}
					<li><a title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(13)%} <img src="{%$rootpath%}images/hot.gif" /></a>
                    <span>{%$array[i].description|cutstr(25)%}.......</span>
                    </li>
				{%/forlist%}
		   {%/get%}
             <li>
           </ul>
         
         </div>
         <div class="xw_r_2"><a href="{%find:type class=28 out=link%}">Read more</a></div>
     </div>
     
  </div>
  </div>
  <div class="c_r"></div>
  </div>
</div>
{%link file="en/public/footer.html"%}